#### FILE I/O
- Writing to files(input) Read files(output)
- Use with keyword and open function

In [1]:
#Example: Create  a fi;e sample.txt and write hello world into the file
with open("sample.txt","w")as file:
    file.write("Hello world")

In [3]:
#Read the content of the above file
with open("sample.txt","r") as file:
    content=file.read()
    print(content)

Hello world

In [8]:
with open(r"C:\Users\ian.mwangi\Desktop\LUX\Excel_jumia.csv", "r") as jumia:
    content = jumia.read()
    print(content)

Product,Current price,old price,Discount,Review,Ratingd
115  Piece Set Of Multifunctional Precision Screwdrivers,KSh 950,"KSh 1,525",38%,-2,4.5 out of 5
Metal Decorative Hooks Key Hangers Entryway Wall Hooks Towel Hooks - Home,KSh 527,KSh 999,47%,-14,4.1 out of 5
Portable Mini Cordless Car Vacuum Cleaner - Blue,"KSh 2,199","KSh 2,923",25%,-24,4.6 out of 5
Weighing Scale Digital Bathroom Body Fat Scale USB-Black,"KSh 1,580","KSh 2,499",37%,-7,4.7 out of 5
Portable Home Small Air Humidifier 3-Speed Fan - Green,"KSh 1,740","KSh 2,356",26%,-5,4.8 out of 5
"220V 60W Electric Soldering Iron Kits With Tools, Tips, And Multimeter","KSh 2,999","KSh 3,290",9%,-15,4 out of 5
137 Pieces Cake Decorating Tool Set Baking Supplies,"KSh 2,319","KSh 3,032",24%,-55,4.6 out of 5
Desk Foldable Fan Adjustable Fan Strong Wind 3 Gear Usb,KSh 988,"KSh 1,580",37%,-2,4 out of 5
LASA FOLDING TABLE SERVING STAND,"KSh 1,274","KSh 2,800",55%,-5,4.8 out of 5
13 In 1 Home Repair Tools Box Kit Set,"KSh 1,600","KSh 2,929",45%,-5,3.8 out of 5
Genebre 115 In 1 Screwdriver Repairing Tool Set For IPhone Cellphone Hand Tool,KSh 799,KSh 999,20%,-12,4.1 out of 5
100 Pcs Crochet Hook Tool Set Knitting Hook Set With Box,KSh 990,"KSh 1,500",34%,-39,4.7 out of 5
40cm Gold DIY Acrylic Wall Sticker Clock,KSh 552,"KSh 1,035",47%,-12,4.8 out of 5
LASA Digital Thermometer And Hydrometer,KSh 501,KSh 860,42%,-6,4.5 out of 5
Multifunction Laser Level With Adjustment Tripod,"KSh 1,680","KSh 2,499",33%,-9,4.2 out of 5
Anti-Skid Absorbent Insulation Coaster  For Home Office,KSh 332,KSh 684,51%,-2,5 out of 5
Peacock  Throw Pillow Cushion Case For Home Car,KSh 195,KSh 360,46%,-2,5 out of 5
LASA Aluminum Folding Truck Hand Cart - 68kg Max,"KSh 2,025","KSh 3,971",49%,-3,5 out of 5
LED Wall Digital Alarm Clock Study Home 12 / 24H Clock Calendar,"KSh 2,999","KSh 3,699",19%,-5,4.6 out of 5
3D Waterproof EVA Plastic Shower Curtain 1.8*2Mtrs,KSh 998,"KSh 1,966",49%,-44,4.6 out of 5
3PCS Single Head Knitting Crochet Sweater Needle Set,KSh 38,KSh 80,53%,-13,3.3 out of 5
"4pcs Bathroom/Kitchen Towel Rack,Roll Paper Holder,Towel Bars,Hook","KSh 1,860","KSh 3,220",42%,,
"LED Romantic Spaceship Starry Sky Projector,Children's Bedroom Night Light-Blue",KSh 880,"KSh 1,350",35%,-6,4 out of 5
Foldable Overbed Table/Desk,"KSh 1,650","KSh 2,150",23%,-14,4.4 out of 5
LASA 3 Tier Bamboo Shoe Bench Storage Shelf,"KSh 2,048","KSh 4,500",54%,-7,4.3 out of 5
Electronic Digital Display Vernier Caliper,KSh 420,KSh 647,35%,-49,4.6 out of 5
Portable Wardrobe Nonwoven With 3 Hanging Rods And 6 Storage Shelves,"KSh 2,880","KSh 3,520",18%,-12,3.8 out of 5
12 Litre Black Insulated Lunch Box,"KSh 1,350","KSh 1,990",32%,-13,3.8 out of 5
52 Pieces Cake Decorating Tool Set Gift Kit Baking Supplies,"KSh 1,758","KSh 2,499",30%,-20,4.1 out of 5
MultiFunctional Storage Rack Multi-layer Bookshelf,"KSh 2,200","KSh 4,080",46%,,
Exfoliate And Exfoliate Face Towel - Black,KSh 185,KSh 382,52%,-9,4.3 out of 5
12 Litre Insulated Lunch Box Grey,KSh 980,"KSh 1,490",34%,-12,4.7 out of 5
"LED Eye Protection  Desk Lamp , Study, Reading, USB Fan - Double Pen Holder","KSh 1,820","KSh 3,490",48%,-9,4.3 out of 5
53Pcs/Set Yarn Knitting Crochet Hooks With Bag - Fortune Cat,"KSh 1,940","KSh 2,650",27%,-20,4.7 out of 5
53 Pieces/Set Yarn Knitting Crochet Hooks With Bag - Pansies,"KSh 1,980","KSh 2,699",27%,-32,4.5 out of 5
"DIY File Folder, Office Drawer File Holder, Pen Holder, Desktop Storage Rack","KSh 1,620","KSh 2,690",40%,-1,5 out of 5
Classic Black Cat Cotton Hemp Pillow Case For Home Car,KSh 171,KSh 360,53%,-2,5 out of 5
Punch-free Great Load Bearing Bathroom Storage Rack Wall Shelf-White,KSh 389,KSh 656,41%,-36,4.3 out of 5
"1/2/3 Seater Elastic Sofa Cover,Living Room/Home Decor Chair Cover-Grey","KSh 1,620 - KSh 1,980","KSh 2,200 - KSh 3,200",38%,-2,4.5 out of 5
LASA Stainless Steel Double Wall Mount Soap Dispenser - 500ml,"KSh 2,750","KSh 4,471",38%,,
4M Float Switch Water Level Controller -Water Tank,KSh 475,KSh 931,49%,,
Modern Sofa Throw Pillow Cover-45x45cm-Blue&Red,KSh 238,KSh 476,50%,,
"Balloon Insert, Birthday Party Balloon Set, PU Leather",KSh 610,"KSh 1,060",42%,,
"Balloon Insert, Birthday Party Balloon Set, PU Leather",KSh 610,"KSh 1,060",42%,,
Shower Cap Wide Elastic Band Cover Reusable Bashroom Cap,"KSh 2,132","KSh 2,169",2%,,
Christmas Elk Fence Yard Lawn Decorations Cute For Holidays,KSh 999,"KSh 2,000",50%,,
60W Hot Melt Glue Sprayer - Efficient And Stable Glue Dispensing,"KSh 1,190","KSh 1,785",33%,,
Car Phone Charging Stand,KSh 671,"KSh 1,316",49%,,
2pcs Solar Street Light Flood Light Outdoor,"KSh 1,200","KSh 1,950",38%,,
Creative Owl Shape Keychain Black,KSh 199,KSh 504,61%,,
Brush & Paintbrush Cleaning Tool Pink,KSh 299,KSh 600,50%,,
Pen Grips For Kids Pen Grip Posture Correction Tool For Kids,"KSh 1,660","KSh 1,699",2%,,
Pilates Cloth Bag Waterproof Durable High Capacity Purple,KSh 299,KSh 384,22%,,
Multi-purpose Rice Drainage Basket And Fruit And Vegetable Drainage Sieve,"KSh 1,459","KSh 1,499",3%,,
Cute Christmas Fence Garden Decorations For Holiday Home,KSh 799,"KSh 1,343",41%,,
Simple Metal Dog Art Sculpture Decoration For Home Office,KSh 499,KSh 900,45%,,
Christmas Fence Garden Decorations Outdoor For Holiday Home,KSh 699,"KSh 1,343",48%,,
Angle Measuring Tool Full Metal Multi Angle Measuring Tool,KSh 799,"KSh 1,567",49%,,
12V 19500rpm Handheld Electric Angle Grinder Tool - UK - Yellow/Black,"KSh 2,799","KSh 3,810",27%,,
Simple Metal Dog Art Sculpture Decoration For Home Office,KSh 399,KSh 896,55%,,
5 Pieces/set Of Stainless Steel Induction Cooker Pots,"KSh 2,170","KSh 2,500",13%,-6,2.5 out of 5
Mythco 120COB Solar Wall Ligt With Motion Sensor And Remote Control 3 Modes,KSh 458,KSh 986,54%,-10,3 out of 5
5-PCS Stainless Steel Cooking Pot Set With Steamed Slices,"KSh 2,115","KSh 4,700",55%,-13,2.1 out of 5
120W Cordless Vacuum Cleaners Handheld Electric Vacuum Cleaner,KSh 445,KSh 873,49%,-69,2.8 out of 5
Intelligent  LED Body Sensor Wireless Lighting Night Light USB,KSh 325,KSh 680,52%,-15,2.7 out of 5
VIC Wireless Vacuum Cleaner Dual Use For Home And Car 120W High Power Powerful,"KSh 1,220","KSh 1,555",22%,-16,2.9 out of 5
Artificial Potted Flowers Room Decorative Flowers (2 Pieces),KSh 990,"KSh 1,814",45%,-6,2.2 out of 5
380ML USB Rechargeable Portable Small Blenders And Juicers,"KSh 1,000","KSh 2,000",50%,-7,2.3 out of 5
32PCS Portable Cordless Drill Set With Cyclic Battery Drive -26 Variable Speed,"KSh 3,750","KSh 6,143",39%,-5,3 out of 5
Agapeon Toothbrush Holder And Toothpaste Dispenser,KSh 382,KSh 700,45%,-17,2.6 out of 5
Large Lazy Inflatable Sofa Chairs PVC Lounger Seat Bag,"KSh 2,300","KSh 3,240",29%,-5,3 out of 5
Watercolour Gold Foil Textured Print Pillow Cover,KSh 345,KSh 602,43%,-6,2.3 out of 5
Wrought Iron Bathroom Shelf Wall Mounted Free Punch Toilet Rack,KSh 509,KSh 899,43%,-5,3 out of 5
"7-piece Set Of Storage Bags, Travel Storage Bags, Shoe Bags",KSh 968,"KSh 1,814",47%,-6,2.2 out of 5
"Electric LED UV Mosquito Killer Lamp, Outdoor/Indoor Fly Killer Trap Light -USB","KSh 1,570","KSh 2,988",47%,-7,2.1 out of 5
2PCS/LOT Solar LED Outdoor Intelligent Light Controlled Wall Lamp,KSh 790,"KSh 1,485",47%,,
3PCS Rotary Scraper Thermomix For Kitchen,KSh 690,"KSh 1,200",43%,,
Cushion Silicone Butt Cushion Summer Ice Cushion Honeycomb Gel Cushion,"KSh 1,732","KSh 1,799",4%,,
7PCS Silicone Thumb Knife Finger Protector Vegetable Harvesting Knife,KSh 230,KSh 450,49%,,
"Memory Foam Neck Pillow Cover, With Pillow Core - 50*30cm","KSh 1,189","KSh 2,199",46%,-1,3 out of 5
Bedroom Simple Floor Hanging Clothes Rack Single Pole Hat Rack - White,KSh 979,"KSh 1,920",49%,-1,5 out of 5
5m Waterproof Spherical LED String Lights Outdoor Ball Chain Lights Party Lighting Decoration Adjustable,"KSh 1,460","KSh 2,290",36%,,
2 Pairs Cowhide Split Leather Work Gloves.32â„‰ Or Above Welding Gloves,"KSh 1,666","KSh 1,699",2%,,
Household Pineapple Peeler Peeler,KSh 330,KSh 647,49%,-1,4 out of 5
"Balloon Insert, Birthday Party Balloon Set, PU Leather",KSh 610,"KSh 1,060",42%,,
Creative Owl Shape Keychain Black,KSh 176,KSh 345,49%,,
Office Chair Lumbar Back Support Spine Posture Correction Pillow Car Cushion,"KSh 1,466","KSh 1,699",14%,,
Cartoon Car Decoration Cute Individuality For Car Home Desk,KSh 274,KSh 537,49%,,
Outdoor Portable Water Bottle With Medicine Box - 600ML - Black,KSh 799,KSh 900,11%,,
Angle Measuring Tool Full Metal Multi Angle Measuring Tool,KSh 657,"KSh 1,288",49%,,
Wall-Mounted Toothbrush Toothpaste Holder With Multiple Slots,"KSh 1,468","KSh 1,699",14%,,
Multifunctional Hanging Storage Box Storage Bag (4 Layers),KSh 630,"KSh 1,100",43%,,
Wall Clock With Hidden Safe Box,KSh 850,"KSh 1,700",50%,,
Portable Wine Table With Folding Round Table,"KSh 1,300","KSh 2,500",48%,,
Sewing Machine Needle Threader Stitch Insertion Tool Automatic Quick Sewing,KSh 105,KSh 200,48%,,
6 Layers Steel Pipe Assembling Dustproof Storage Shoe Cabinet,KSh 899,"KSh 1,699",47%,,
6 Layers Steel Pipe Assembling Dustproof Storage Shoe Cabinet,KSh 899,"KSh 1,699",47%,,
2PCS Ice Silk Square Cushion Cover Pillowcases - 65x65cm,"KSh 1,200","KSh 2,400",50%,,
Wall Mount Automatic Toothpaste Dispenser Toothbrush Holder Toothpaste Squeezer,"KSh 1,526","KSh 1,660",8%,,
Portable Soap Dispenser Kitchen Detergent Press Box Kitchen Tools,"KSh 1,462","KSh 1,499",2%,,
4 Piece Coloured Stainless Steel Kitchenware Set,KSh 248,KSh 486,49%,,
Metal Wall Clock Silver Dial Crystal Jewelry Round Home Decoration Wall Clock,"KSh 3,546","KSh 3,699",4%,,
Baby Early Education Shape And Color Cognitive Training Toys,KSh 525,"KSh 1,029",49%,,
8in1 Screwdriver With LED Light,"KSh 1,080","KSh 1,874",42%,,
"Konka Healty Electric Kettle, 24-hour Heat Preservation,1.5L,800W, White","KSh 3,640","KSh 4,588",21%,-1,5 out of 5
"9pcs Gas Mask, For Painting, Dust, Formaldehyde Grinding, Polishing","KSh 1,420","KSh 2,420",41%,,
24 Grid Wall-mounted Sundries Organiser Fabric Closet Bag Storage Rack,"KSh 1,875","KSh 1,899",1%,,
1PC Refrigerator Food Seal Pocket Fridge Bags,KSh 198,KSh 260,24%,,
LED Solar Street Light-fake Camera,"KSh 1,150","KSh 1,737",34%,,
Cartoon Embroidered Mini Towel Bear Cotton Wash Cloth Hand 4pcs,"KSh 1,190","KSh 1,810",34%,,
Shower Nozzle Cleaning Unclogging Needle Mini Crevice Small Hole Cleaning Brush,"KSh 1,658","KSh 1,699",2%,,
Thickening Multipurpose Non Stick Easy To Clean Heat Resistant Spoon Pad,"KSh 1,768","KSh 1,799",2%,,
6 In 1 Bottle Can Opener Multifunctional Easy Opener,KSh 199,KSh 553,64%,,
Wall-mounted Sticker Punch-free Plug Fixer,KSh 450,KSh 900,50%,-1,2 out of 5
Black Simple Water Cup Wine Coaster Anti Slip Absorbent,KSh 169,KSh 320,47%,,

In [10]:
import pandas as pd

In [13]:
df = pd.read_csv(r"C:\Users\ian.mwangi\Desktop\LUX\Excel_jumia.csv")
#displays the first 5 rows 
df.head()

,Product,Current price,old price,Discount,Review,Ratingd
0,115 Piece Set Of Multifunctional Precision Sc...,KSh 950,"KSh 1,525",38%,-2.0,4.5 out of 5
1,Metal Decorative Hooks Key Hangers Entryway Wa...,KSh 527,KSh 999,47%,-14.0,4.1 out of 5
2,Portable Mini Cordless Car Vacuum Cleaner - Blue,"KSh 2,199","KSh 2,923",25%,-24.0,4.6 out of 5
3,Weighing Scale Digital Bathroom Body Fat Scale...,"KSh 1,580","KSh 2,499",37%,-7.0,4.7 out of 5
4,Portable Home Small Air Humidifier 3-Speed Fan...,"KSh 1,740","KSh 2,356",26%,-5.0,4.8 out of 5

In [19]:
df = pd.read_csv(r"C:\Users\ian.mwangi\Desktop\LUX\tested.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [22]:
#dropping cabin column
df = df.drop("Cabin",axis=1) #axis maintains the data structure of the table
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

#### Handling missing data using pandas

In [ ]:
df.isnull().sum() #to check for missing values

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            1
Embarked        0
dtype: int64

In [ ]:
#Fill missing values
#symetric data = if median,mode  and mean are all equal
# if are not equal the data is asymetric or skewed

In [24]:
df.describe() #gives the summary statistics of the dataset

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [26]:
df["Age"] = df["Age"].fillna(df["Age"].median())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          418 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 36.1+ KB